.BookmarkTable {
  border-spacing: 20px;
}

body {
  margin: 5px;
  background: rgb(220, 220, 220);
}

header {
  margin: 0px;
  /* background-color: coral; */
}

h1 {
  display: inline;
  margin: 0px;
}
